.for-statement, .for-of-statement, .for-in-statement, .if-statement,
.continue-statement, .do-while-statement, .debugger-statement,
.return-statement, .logical-statement, .break-statement, .binary-expression,
.import-declaration, .import-default-specifier, .import-namespace-specifier,
.import-specifier, .export-all-declaration, .export-default-declaration,
.export-named-declaration, .export-specifier, .new-expression,
.class-declaration, .class-expression, .switch-case, .switch-statement,
.throw-statement, .super, .while-statement, .try-statement, .catch-clause,
.with-statement, .yield-expression, .member-expression, .update-expression,
.assignment-expression, .variable-declarator, .expression-statement {
  font-weight: bold;
  color: yellow;
}

.function-declaration, .function-expression, .arrow-function-expression,
.array-expression, .array-pattern, .sequence-expression, .class-body,
.block-statement, .variable-declaration, .this-expression, .object-expression,
.object-pattern, .tagged-template-expression, .conditional-expression,
.unary-expression, .program {
  font-weight: bold;
  color: cyan;
}

.assignment-pattern .call-expression, .identifier, .property, .meta-property,
.rest-element, .spread-element {
  font-weight: normal;
  color: white;
}

.literal, .template-literal {
  color: magenta;
  font-weight: bold;
}
