.kw0, .operator {
  font-weight: bold;
  color: darkorange;
}
.kw1, .regex, .command-substitution {
  font-weight: bold;
  color: red;
}
.kw2, .open-square, .close-square, .open-curly, .close-curly,
.area-comment, .area-comment-continue, .line-comment,
.variable {
  font-weight: bold;
  color: blue;
}
.number, .quote, .single-quote, .double-quote, .char,
.template-string, .heredoc {
  color: darkred;
  font-weight: bold;
}
.directive, .shebang {
  color: purple;
  font-weight: bold;
}
