.shebang {
  color: cyan;
  font-weight: bold;
}
.complete-command {
  color: white;
  font-weight: normal;
}
.word {
  color: white;
  font-weight: normal;
}
.builtin-command {
  color: yellow;
  font-weight: bold;
}
.builtin-command + .word {
  color: magenta;
  font-weight: bold;
}
.env, .builtin-command + .env {
  color: blue;
  font-weight: bold;
}
.command-substitution, .builtin-command + .command-substitution {
  color: red;
  font-weight: bold;
}
.assignment, .builtin-command + .assignment {
  color: cyan;
  font-weight: bold;
}
.assignment > .word {
  color: magenta;
  font-weight: bold;
}
