.complete-command, .word {
  color: black;
  font-weight: normal;
}
.builtin-command {
  color: darkorange;
  font-weight: bold;
}
.builtin-command + .word, .assignment > .word {
  color: darkred;
  font-weight: bold;
}
.env, .builtin-command + .env {
  color: purple;
  font-weight: bold;
}
.command-substitution, .builtin-command + .command-substitution {
  color: red;
  font-weight: bold;
}
.assignment, .builtin-command + .assignment, .shebang {
  color: blue;
  font-weight: bold;
}
